<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Products</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a (click)="showNewProductModal(newProductModalTemplate)" class="btn btn-sm btn-outline-secondary">Add Product <fa-icon [icon]="faPlus"></fa-icon></a>
      </div>
    </div>
  </div>

  <p *ngIf="!productsVm"><em>Loading...</em></p>

  <div *ngIf="productsVm" class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Id</th>
          <th>Talla</th>
          <th>Color</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productsVm.lists">
          <td>{{ product.id }}</td>
          <td>{{ sizeType[product.size] }}</td>
          <td>{{ colorType[product.color] }}</td>
          <td>{{ product.price.currency }} {{ product.price.ammount }}</td>
          <td>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <a (click)="showProductDetailsModal(productDetailsModalTemplate, product)" class="btn btn-sm btn-outline-primary">Edit</a>
                <a (click)="confirmDeleteProduct(deleteProductModalTemplate, product)" class="btn btn-sm btn-outline-danger">Delete</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="debug">
    <pre>{{ productsVm | json }}</pre>
  </div>

</div>

<ng-template #productOptionsModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Product Options</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="productOptionsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="inputProductSize">Size</label>
      <input type="text" class="form-control" id="inputProductSize" placeholder="Product Size"
             [(ngModel)]="productOptionsEditor.size" (keyup.enter)="updateProductOptions()" />
    </div>
    <div class="form-group">
      <label for="inputProductColor">Color</label>
      <input type="text" class="form-control" id="inputProductColor" placeholder="Product Color"
             [(ngModel)]="productOptionsEditor.color" (keyup.enter)="updateProductOptions()" />
    </div>
    <div class="form-group">
      <label for="inputProductPriceCurrency">Price Currency</label>
      <input type="text" class="form-control" id="inputProductPriceCurrency" placeholder="Product Price Currency"
             [(ngModel)]="productOptionsEditor.price.currency" (keyup.enter)="updateProductOptions()" />
    </div>
    <div class="form-group">
      <label for="inputProductPriceAmmount">Price Ammount</label>
      <input type="text" class="form-control" id="inputProductPriceAmmount" placeholder="Product Price Ammount"
             [(ngModel)]="productOptionsEditor.price.ammount" (keyup.enter)="updateProductOptions()" />
    </div>
    <div *ngIf="debug">
      <pre>{{ listOptionsEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="float-left">
        <button class="btn btn-default text-danger" (click)="confirmDeleteProduct(deleteProductModalTemplate)">Delete</button>
      </div>
      <div class="float-right">
        <button class="btn btn-default" (click)="productOptionsModalRef.hide()">Cancel</button>
        <button class="btn btn-primary" (click)="updateProductOptions()">Update</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteProductModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Delete "{{ selectedProduct?.size }}"?</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="deleteProductModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>All items will be permanently deleted. </p>
    <div *ngIf="debug">
      <pre>{{ selectedProduct | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button type="button" class="btn btn-default" (click)="deleteProductModalRef.hide()">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="deleteProductConfirmed()">Delete</button>
    </div>
  </div>
</ng-template>

<ng-template #newProductModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">New Product</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="newProductCancelled()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="size">Size</label>
      <select class="form-control" [(ngModel)]="newProductEditor.size" id="size" [ngClass]="{ 'is-invalid': newProductEditor.error }">
        <option *ngFor="let enum of Size | keyvalue" [value]="enum.key">
          {{enum.value}}
        </option>
      </select>
      <div *ngIf="newProductEditor.error" class="invalid-feedback">
        {{ productDetailsEditor.error }}
      </div>
    </div>
    <div class="form-group">
      <label for="inputProductColor">Color</label>
      <select class="form-control" [(ngModel)]="newProductEditor.color" id="inputProductColor" [ngClass]="{ 'is-invalid': newProductEditor.error }">
        <option *ngFor="let enum of Color | keyvalue" [value]="enum.key">
          {{enum.value}}
        </option>
      </select>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="inputProductPriceCurrency">Price Currency</label>
        <input type="text" class="form-control" id="inputProductPriceCurrency" placeholder="Product Price Currency"
               [(ngModel)]="newProductEditor.currency" [ngClass]="{ 'is-invalid': newProductEditor.error }" (keyup.enter)="addProduct()" />
      </div>
      <div class="col-md-6 form-group">
        <label for="inputProductPriceAmmount">Price Ammount</label>
        <input type="number" class="form-control" id="inputProductPriceAmmount" placeholder="Product Price Ammount"
               [(ngModel)]="newProductEditor.ammount" [ngClass]="{ 'is-invalid': newProductEditor.error }" (keyup.enter)="addProduct()" />
      </div>
    </div>
    <div class="form-group">
      <label for="inputProductDescription">Description</label>
      <textarea class="form-control" id="inputProductDescription" placeholder="Product Description"
                [(ngModel)]="newProductEditor.description" [ngClass]="{ 'is-invalid': newProductEditor.error }" (keyup.enter)="addProduct()"></textarea>
    </div>
    <div *ngIf="debug">
      <pre>{{ newProductEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button class="btn btn-default" (click)="newProductCancelled()">Cancel</button>
      <button class="btn btn-primary" (click)="addProduct()">Create</button>
    </div>
  </div>
</ng-template>

<ng-template #productDetailsModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Product Details</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="productDetailsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form">
      <div class="form-group">
        <label for="size">Size</label>
        <select class="form-control" [(ngModel)]="productDetailsEditor.size" id="size" [ngClass]="{ 'is-invalid': productDetailsEditor.error }">
          <option *ngFor="let enum of Size | keyvalue" [value]="enum.key">
            {{enum.value}}
          </option>
        </select>
        <div *ngIf="productDetailsEditor.error" class="invalid-feedback">
          {{ productDetailsEditor.error }}
        </div>
      </div>
      <div class="form-group">
        <label for="inputProductColor">Color</label>
        <select class="form-control" [(ngModel)]="productDetailsEditor.color" id="inputProductColor" [ngClass]="{ 'is-invalid': productDetailsEditor.error }">
          <option *ngFor="let enum of Color | keyvalue" [value]="enum.key">
            {{enum.value}}
          </option>
        </select>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="inputProductPriceCurrency">Price Currency</label>
          <input type="text" class="form-control" id="inputProductPriceCurrency" placeholder="Product Price Currency"
                 [(ngModel)]="productDetailsEditor.price.currency" [ngClass]="{ 'is-invalid': productDetailsEditor.error }" (keyup.enter)="addProduct()" />
        </div>
        <div class="col-md-6 form-group">
          <label for="inputProductPriceAmmount">Price Ammount</label>
          <input type="number" class="form-control" id="inputProductPriceAmmount" placeholder="Product Price Ammount"
                 [(ngModel)]="productDetailsEditor.price.ammount" [ngClass]="{ 'is-invalid': productDetailsEditor.error }" (keyup.enter)="addProduct()" />
        </div>
      </div>
      <div class="form-group">
        <label for="inputProductDescription">Description</label>
        <textarea class="form-control" id="inputProductDescription" placeholder="Product Description"
                  [(ngModel)]="productDetailsEditor.description" [ngClass]="{ 'is-invalid': productDetailsEditor.error }" (keyup.enter)="addProduct()"></textarea>
      </div>
    </div>
    <div *ngIf="debug">
      <pre>{{ itemDetailsEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="float-left">
        <button class="btn btn-default text-danger" (click)="confirmDeleteProduct(deleteProductModalTemplate, product)">Delete</button>
      </div>
      <div class="float-right">
        <button class="btn btn-default" (click)="productDetailsModalRef.hide()">Cancel</button>
        <button class="btn btn-primary" (click)="updateProductDetails()">Update</button>
      </div>
    </div>
  </div>
</ng-template>
