<div id="home">
  <div class="jumbotron">
    <div class="container">
      <div class="col-sm-6 opacity-box">
        <h1 class="text-primary">Hola,</h1>
        <h3 class="text-secondary">Bienvenido a "Online Shop", esto es lo que he construido:</h3>
        <ul>
          <li><a href='https://get.asp.net/'>ASP.NET Core</a> y <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> para backend</li>
          <li><a href='https://angular.io/'>Angular</a> y <a href='http://www.typescriptlang.org/'>TypeScript</a> para frontend</li>
          <li><a href='http://getbootstrap.com/'>Bootstrap</a> para maquetación</li>
          <li>Pruebas Unitarias y de Integración</li>
        </ul>
      </div>
    </div>
  </div>
</div>
