#home .jumbotron {
  background: #fff url('/images/head_bg.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  min-height: 440px;
}

#home .opacity-box {
  background: rgba(255,255,255,0.8);
}
